alembic==1.15.1
annotated-types==0.7.0
anyio==4.8.0
apptools==5.3.0
certifi==2025.1.31
click==8.1.8
contourpy==1.3.1
cycler==0.12.1
dotenv==0.9.9
envisage==7.0.3
fastapi==0.115.10
fonttools==4.56.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
importlib_resources==6.5.2
kiwisolver==1.4.8
Mako==1.3.9
MarkupSafe==3.0.2
matplotlib==3.10.1
mayavi==4.8.2
nibabel==5.3.2
numpy==2.2.4
packaging==24.2
pillow==11.1.0
psycopg2==2.9.10
pydantic==2.10.6
pydantic_core==2.27.2
pyface==8.0.0
Pygments==2.19.1
pyparsing==3.2.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.17.0
PySide6==6.8.2
PySide6_Addons==6.8.2
PySide6_Essentials==6.8.2
pysurfer==0.11.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
scipy==1.15.2
shiboken6==6.8.2
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.39
starlette==0.46.0
traits==7.0.2
traitsui==8.0.0
typing_extensions==4.13.0
uvicorn==0.34.0
vtk==9.4.0





